@model OnlineAds.Models.TblCategory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatName" class="control-label"></label>
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatImage" class="control-label"></label>
                <input type="file" asp-for="CatImage" class="form-control" />
                <span asp-validation-for="CatImage" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CatFkAd" class="control-label"></label>
                <select asp-for="CatFkAd" class ="form-control" asp-items="ViewBag.CatFkAd"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="CatStatus" class="control-label"></label>
                <input asp-for="CatStatus" class="form-control" />
                <span asp-validation-for="CatStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

